@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #100f0f;
  color: rgb(225, 225, 225);
  line-height: 1.5;
}

.container {
  max-width: 1444px;
  width: 90%;
  margin: 0 auto;
}
