@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #100f0f;
  color: rgb(225, 225, 225);
  line-height: 1.5;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.container {
  max-width: 1444px;
  width: 90%;
  margin: 0 auto;
}

.body_section {
  padding: 6rem 0;
}

.section_title {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 12px;
}

.title_desc {
  margin-bottom: 50px;
}

.text_center {
  text-align: center;
}

.btn_primary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 18px;
  display: block;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in;
}

.btn_primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: white;
  transition: width 0.3s ease-in;
  z-index: -1;
}

.btn_primary:hover {
  color: #100f0f;
}

.btn_primary:hover::before {
  width: 100%;
}

.btn_secondary {
  background-color: transparent;
  color: white;
  padding: 10px 18px;
  display: block;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 16px;
}
.btn_secondary::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in;
  z-index: -1;
}

.btn_secondary:hover::before {
  width: 100%;
}

.btn_group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.with_icon {
  display: flex;
  align-items: center;
  gap: 7px;
}

footer {
  background-color: #000;
  padding: 4rem 0;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .btn_group {
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .btn_group {
    flex-direction: column;
    align-items: flex-start;
  }
  .section_title {
    font-size: 40px;
  }
  .title_desc {
    font-size: 14px;
  }
}
